.productsList{
    flex: 4;
    margin-top: 10px;
}

.productsListItem{
    display: flex;
    align-items: center;

}
.productsListAvatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}
.productsListButton{
    border: none;
    width: 80px;
    height: 35px;
    text-align: center;
    border-radius: 10px;
    padding: 5px 10px;
    margin-right: 50px;
    background: linear-gradient(-180deg, #055069, #019196);
    color: white;
    cursor: pointer;
}
.productsListButton:hover{
    opacity: 0.8;
}

.productsListDelete{
    color: red;
    cursor: pointer;
}