.productPage{
    flex: 4;
    margin-top: 10px;
    padding: 20px;
}
.productTitle{
}
.productTittleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.productAddButton {
    width: 80px;
    border:none;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(-180deg, #055069, #019196);
    color: white;
    cursor: pointer;
    margin-right: 20px;
}
.productTop{
    display: flex;
}
.productName{
    margin-left: 10px;
}
.productInfoImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.productTopRight,.productTopLeft{
    flex:1;
}
.productTopRight{
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 11px -1px #c5c3c3; 
    box-shadow: 0px 0px 11px -1px #c5c3c3;
}

.productInfoTop{
    display: flex;
    align-items: center;
}
.productName{
    font-weight: 600;
}
.productInfoBottom{
    margin-top: 10px;
}
.productInfoItem{
    width: 150px;
    display: flex;
    justify-content: space-between;
}
.productInfoKey{
    font-size: 16px;
    font-weight: 600;
}
.productInfoValue{
    font-weight: 400;
}
.productBottom{
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 11px -1px #c5c3c3; 
    box-shadow: 0px 0px 11px -1px #c5c3c3;
}
.productForm{
    display: flex;
    justify-content: space-between;
}
.productFormLeft{
    display: flex;
    flex-direction: column;
}
.productFormLeft>label{
    margin-bottom: 10px;
    color: gray;
}
.productFormLeft>input{
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid gray;

}

.productFormLeft>select{
    margin-bottom: 10px;
}
.productFormRight{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.productUpload{
    display: flex;
    align-items: center;
}
.productUploadImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}
.productButton{
    width: 140px;
    border:none;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(-180deg, #055069, #019196);
    color: white;
    cursor: pointer;
}
.productButton:hover,
.productAddButton:hover{
    opacity: 0.8;
}
.publishImg{
    cursor: pointer;
}